* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 64px;
}

p {
    margin: 0;
}
